---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Pricing from "@components/pricing.astro";

const pricing = [
  {
    name: "First session",
    price: "Free",
    popular: false,
    features: [
      "1h for free",
      "Material included",
      "Join our group",
    ],
    button: {
      text: "Get Started",
      link: "/",
    },
  },
  {
    name: "Member",
    price: {
      monthly: "$19",
      annual: "$16",
      discount: "10%",
      original: "$24",
    },
    popular: true,
    features: [
      "All Free Features",
      "Once a week session",
      "Direct message",
      "Line group",
    ],
    button: {
      text: "Get Started",
      link: "#",
    },
  },
  {
    name: "Premium member",
    price: "Custom",
    popular: false,
    features: [
      "All member Features",
      "Three sessions per week",
    ],
    button: {
      text: "Contact us",
      link: "/contact",
    },
  },
];
---

<Layout title="Pricing">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Pricing</Fragment>
      <Fragment slot="desc"
        >Simple & Predictable pricing. No Surprises.</Fragment
      >
    </Sectionhead>

    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-screen-lg mt-12">
      {pricing.map((item) => <Pricing plan={item} />)}
    </div>
  </Container>
</Layout>
